.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  &::before {
    content: '';
    background: yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }
}
